@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&family=Satisfy&display=swap');

$dark-color: #000;

$border-radius: 1.5rem;
$border-radius-lg: 1.5rem;
$border-radius-sm: 1.5rem;
$transarentPrimaryLight: rgba(231, 138, 138, 0.1);
$primary-gradient: linear-gradient(to right, #ff0000, #0000ff);

$theme-colors: (
  primary: #dc2424,
  info: #4a569d,
  primaryLight: #ff000085,
  transparentPrimaryLight: #f07d7d85,
  primary2: #4a569d,
  primary2Light: #0327fd59,
  dark: #000,
  whiteTrans: rgba(255, 255, 255, 0.411),
  muted: #d3d3d3
);

html,
body,
#root {
  height: 100%;
  font-family: 'Baloo 2', cursive;
}

.small {
  font-size: 12px;
}

.smallFont {
  font-size: 12px;
}

.mid {
  font-size: 13px;
}

.large {
  font-size: 14px;
}

.xlarge {
  font-size: 16px;
}

.xxlarge {
  font-size: 18px;
}
.xxxlarge {
  font-size: 24px;
}

.tiny {
  font-size: 10px;
}

.xs {
  font-size: 8px;
}

.xxxxlarge {
  font-size: 28px;
}
.huge {
  font-size: 80px;
}
.xmid {
  font-size: 20px;
}
.fw-thin {
  font-weight: 300;
}
.pointer {
  cursor: pointer;
}

.selected-dropdown-item {
  background-color: #dc2424;
  // color: white;
}

.gradient-underline {
  position: relative;
  display: inline-block;
}

.gradient-underline::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 2px;
  margin-top: 2px;
  background-image: linear-gradient(to right, #ff0000, #0000ff); /* Replace with your desired gradient */
  border-radius: 20%;
}

.uploading-image {
  width: 140px;
  height: 140px;
  display: block;
  margin: 0 auto;
  opacity: 0.5;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  object-fit: cover;
}

.disabled-content {
  background-color: #d3d3d3 !important;
  cursor: auto !important;
}

.left-bar {
  border-left: 10px solid $dark-color;
}

.album-images {
  width: 150px;
  height: 150px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 2px 0 rgba(0, 0, 0, 0.19);
}

.thumbnail-images {
  width: 100%;
  height: 150px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 2px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.5s ease;
}

.thumbnail-images:hover {
  transform: scale(1.01);
}

.rectangular-skeleton-large {
  width: 100%;
  height: 150px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #e5e5e5; /* Skeleton background color */
  animation: skeleton-pulse 1.5s infinite ease-in-out;
}

.rectangular-skeleton-small {
  width: 150px;
  height: 150px;
  border-radius: 4px;
  background-color: #e5e5e5; /* Skeleton background color */
  animation: skeleton-pulse 1.5s infinite ease-in-out;
}

@keyframes skeleton-pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.6;
  }
}

.rectangular-skeleton {
  width: 100%;
  height: 150px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: linear-gradient(to right, #e5e5e5 0%, #f2f2f2 20%, #e5e5e5 40%, #e5e5e5 100%);
  background-size: 200% 100%;
  animation: skeleton-shimmer 1.5s infinite linear;
}

@keyframes skeleton-shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.internal-thumbnail-images {
  width: 150px;
  height: 150px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 2px 0 rgba(0, 0, 0, 0.19);
}

.jaunt-delete-action-button {
  position: absolute;
  top: 8px;
  right: 30px;
  background-color: rgba(0, 0, 0, 0.7) !important;
  padding: 10px;
  border: none !important;
}
.jaunt-edit-action-button {
  position: absolute;
  top: 8px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.7) !important;
  padding: 10px;
  border: none !important;
}

.album-section {
  overflow-x: auto;
}

.jaunt-card {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 80%;
}

.steps-delete {
  position: absolute;
  right: 30px;
}

.image-delete {
  position: absolute;
  right: 6px;
  top: 3px;
}

.image-loading-spinner {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 50%;
  margin: auto;
}

.disabled-icon {
  color: #d3d3d3 !important;
}

.dragging-box {
  background-color: rgba(244, 238, 238, 0.6) !important;
}

.draggable-box {
  border-bottom: 1px solid lightgray;
  border-radius: 1px !important;
}

.drive-file-uploader {
  border: 2px dotted lightgray;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.search-icon {
  position: absolute;
  right: 0;
  top: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 10%;
  cursor: pointer;
}

.logo {
  font-family: 'Satisfy', cursive;
}

.underline {
  text-decoration: underline;
}

.hover {
  cursor: pointer;
}

.hover-light:hover {
  background-color: #0329fd18;
  cursor: pointer;
}

.hover-dark:hover {
  background-color: #775500;
  cursor: pointer;
}

.a {
  cursor: pointer;
  text-decoration: underline;
}

.vh-100 {
  height: 100vh;
}

.bg-gradient {
  background: map-get($map: $theme-colors, $key: primary); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    map-get($map: $theme-colors, $key: primary2),
    map-get($map: $theme-colors, $key: primary)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    map-get($map: $theme-colors, $key: primary2),
    map-get($map: $theme-colors, $key: primary)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-gradient-light {
  background: map-get($map: $theme-colors, $key: primaryLight); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    map-get($map: $theme-colors, $key: primary2Light),
    map-get($map: $theme-colors, $key: primaryLight)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    map-get($map: $theme-colors, $key: primary2Light),
    map-get($map: $theme-colors, $key: primaryLight)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.rounded-ff-left {
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}

.rounded-ff-right {
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}

@import './components/SlidingSideBar/bar';

@import '~bootstrap/scss/bootstrap';

.text-container {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-image-slice: 1;
  background: linear-gradient(to bottom, rgba(231, 138, 138, 0.1), rgba(231, 138, 138, 0.3));
  border-radius: 10px;
}
.gradient-border {
  position: relative;
  overflow: hidden;
}
